.idea
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
cmake-build-debug
*.a
*.o
secrataContainer/libraries/wasm-jit/Source/Programs/Disassemble
secrataContainer/libraries/wasm-jit/Source/Programs/Test
secrataContainer/libraries/wasm-jit/Source/Programs/eosio-wast2wasm
secrataContainer/libraries/wasm-jit/Source/Programs/wavm
appbase_example
*.bc
secrataContainer/contracts/secrataContainer/secrataContainer.s
secrataContainer/contracts/**/*.wasm
secrataContainer/contracts/**/*.wast
secrataContainer/contracts/**/*.wast.hpp
secrataContainer/contracts/libc++/upstream/test/std/experimental/filesystem/Inputs/static_test_env/bad_symlink
secrataContainer/externals/binaryen/test/emscripten/system/include/libc/bits
secrataContainer.abi.hpp
